<!-- <ion-content [style.backgroundImage]="'url(' + featuredBackdropUrl + ')'" class="movies-background">
  <!-- Buscador 
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchMovies()" placeholder="Buscar películas..."></ion-searchbar>-->

  <!-- Cuadrícula de películas 
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let movie of filteredMovies">
        <ion-card (click)="viewMovieDetails(movie)">
          <img [src]="movie.poster_path" alt="{{ movie.title }}" />
          <ion-card-title>{{ movie.title }}</ion-card-title>
          <ion-button color="primary">Ver detalles</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->